<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <title>Add Contact</title>
</head>
<body>
    
    <div id="content">

        <!--user logged in sidebar-->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-30" style="height: 1000px">
            <div class="flex items-center justify-center md:pt-32 flex-col">
                <div class="grid grid-cols-12">
                    <div class="col-span-3"></div>

                    <div class="col-span-6">
                        main form here
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>