<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <title data-th-text="${loggedInUser.name}+' | Contacts'">Contacts</title>
</head>
<body>
    
    <div id="content">

        <!--user logged in sidebar-->
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-30">
            <div>
                <h1 class="text-5xl text-center">Contacts</h1>

                <div class="contacts_container p-5">

                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                        <div class="flex p-5 items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
                            
                            <!--search-->
                            <label for="table-search" class="sr-only">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                    </svg>
                                </div>
                                <input type="text" id="table-search-users" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                            </div>
                        </div>

                        <!--main table-->
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            
                            <!--header of table-->
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">Name</th>
                                    <th scope="col" class="px-6 py-3">Phone</th>
                                    <th scope="col" class="px-6 py-3">Links</th>
                                    <th scope="col" class="px-6 py-3">Action</th>
                                </tr>
                            </thead>


                            <!--
                                data-th-text="${contact.name}"

                                or we can use

                                data-th-object="${contact}"
                                data-th-text=*{name}
                            -->

                            <!--body of table-->
                            <!--data-th-each="contact: ${contacts}" for iteration on list-->
                            <!--pageContact.getContent() is used to get content of Page object-->
                            <tbody>
                                <tr 
                                    data-th-each="contact: ${pageContact.getContent()}"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                >
                                    
                                    <!--data-th-text="${contact.name}" to show data -->
                                    <!--data-th-src="@{${contact.picture}}" used for links/url-->
                                    <!--if error occured in profile image then show deafult image-->
                                    <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                        <img data-th-src="@{${contact.picture}}" class="w-10 h-10 rounded-full" alt="Profile Image">

                                        <div class="ps-3">
                                            <div data-th-text="${contact.name}" class="text-base font-semibold"></div>
                                            <div data-th-text="${contact.email}" class="font-normal text-gray-500"></div>
                                        </div>  
                                    </th>

                                    <td class="px-6 py-4">
                                        <i class="fa-solid fa-phone w-4 h-4"></i>
                                        <span data-th-text="${contact.phoneNumber}"></span>
                                    </td>

                                    <td class="px-6 py-4">
                                        <div class="flex items-center">
                                            <div
                                              data-th-if="${contact.favourite}"
                                              class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"
                                            ></div>
                    
                                            <a data-th-href="@{${contact.websiteLink}}" target="_blank">
                                                <i class="fa-solid w-6 h-6 fa-link"></i>
                                            </a>
                    
                                            <a data-th-href="@{${contact.linkedInLink}}" target="_blank">
                                              <i class="fa-brands w-6 h-6 fa-linkedin"></i>
                                            </a>
                                          </div>
                                    </td>

                                    <td class="px-6 py-4">
                                        <div>
                                            <!-- delete contact -->
                                            <a href="#">
                                              <i class="fa-solid w-6 h-6 fa-trash"></i>
                                            </a>

                                            <!-- update contact -->
                                            <a href="#">
                                              <i class="fa-solid w-6 h-6 fa-pen"></i>
                                            </a>
                    
                                            <!-- viewcontact -->
                                            <a href="#">
                                              <i class="fa-solid fa-eye"></i>
                                            </a>
                                          </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>