<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <title>Login</title>
</head>
<body>
    
    <div id="content">

        <div class="grid grid-cols-12 mt-5">
            <div class="col-span-3"></div> <!--empty left 3 grid-->

                    <div class="col-span-12 md:col-span-6">
                        <div class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Login Here</h5>
                    <p class="font-normal text-gray-400 dark:text-gray-400">Start managing contacts..</p>

                    <div class="text-red-600 text-center my-3" data-th-if="${param.error}">
                        Invalid username and password.
                    </div>

                    <form method="post" data-th-action="@{'/authenticate'}" class="mt-5">

                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                            <input name="email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username@gmail.com" required />
                        </div>
                        <div class="mb-5">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input name="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                        </div>
                        <div class="mb-5 flex justify-center space-x-3">
                            <button type="submit" class="px-3 py-2 rounded bg-gray-800 text-white hover:bg-gray-900 dark:bg-blue-600 dark:hover:bg-blue-800">Login</button>
                            <button type="reset" class="px-3 py-2 rounded bg-green-700 text-white hover:bg-green-900 dark:bg-green-700 dark:hover:bg-green-900">Reset</button>
                        </div>

                    </form>

                    <div class="social-buttons-container flex justify-center items-center flex-col space-y-4 mt-10">

                        <!--google button-->
                        <!--by default url for sign in with google button submit - '/oauth2/authorization/google' -->
                        <a data-th-href="@{'/oauth2/authorization/google'}" class="px-3 py-2 w-1/2 font-semibold rounded-lg login-with-google-btn text-center">
                            Sign in with Google
                        </a>
            
                        <!--github button-->
                        <!--by default url for sign in with google button submit - '/oauth2/authorization/github' -->
                        <a data-th-href="@{'/oauth2/authorization/github'}" type="button" class="py-2 px-2 w-1/2 flex justify-center items-center bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 focus:ring-offset-gray-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg">
                            <i class="fa-brands fa-github mr-3"></i>
                            Sign in with GitHub
                        </a>
                        
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>